@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #111727;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
header{
    max-width: 415px;
    /* max-height: 900px; */
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
}
:root{
    --black: #1f222b;
    --green: #5fe85d;
    --violet: #8070ff;
}
#mobile{
    display: inline;
    width: 415px;
    color: #fff;
    position: relative;
} 

/* Nav bar section */
#mobile .M_nav_bar{
    width: 415px;
    height: 85px;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    position: fixed;
    background-color: #000;
}

/* Hamburgur Menu section */
#mobile .M_nav_bar .hamburgur_menu{
    width: 32px;
    height: 30px;
    margin-left: 30px;
    margin-top: 18px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: -5px;
}
#mobile .M_nav_bar .hamburgur_menu div{
    width: 10px;
    height: 10px;
    background-color: #8a8787;
    margin: 0 3px;
}
#mobile .M_nav_bar .hamburgur_menu div:first-child{
    border-radius: 2px 2px 5px 2px;
}
#mobile .M_nav_bar .hamburgur_menu div:nth-child(2){
    border-radius: 2px 2px 2px 5px;
}
#mobile .M_nav_bar .hamburgur_menu div:nth-child(3){
    border-radius: 2px 5px 2px 2px;
}
#mobile .M_nav_bar .hamburgur_menu div:nth-child(4){
    border-radius: 5px 2px 2px 5px; 
}
/* End of Hamburgur Menu section */

/* Top Middle name section */
#mobile .M_nav_bar .main_name{
    font-size: 25px;
    margin-top: 12px;
    font-weight: 600;
    letter-spacing: 1.2px;
}
#mobile .M_nav_bar .main_name span{
    display: inline;
    background: linear-gradient(to right, #06baf1,#06baf1,var(--violet),var(--violet));
    background-clip: border-box;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
/* End of Top middle sction */

/* Profile section */
#mobile .M_nav_bar .profile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 25px;
    margin-top: 14px;
    background-color: #fff;
}
#mobile .M_nav_bar .profile img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
/* End of profile section */
/* End of Nav bar Section */

/* Sogns list section (second row) */
#mobile .M_songs_list{
    height: 85px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    white-space: nowrap;
    margin-top: 85px;
    padding: 15px 30px 0 30px;
    background-color: #000;
}
#mobile .M_songs_list::-webkit-scrollbar{
    display: none;
}
#mobile .M_songs_list div{
    display: inline-block;
    width: 140px;
    height: 50px;
    padding-top: 10px;
    background-color: var(--black);
    margin-right: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    border-radius: 100px;
    letter-spacing: 1.2px;
}
/* End songs list section */

/* start of main screen */
.M_main_screen{
    width: 415px;
    height: 1500px;
    background-color: chartreuse;
    overflow: auto;
    position: fixed;
}
.M_main_screen::-webkit-scrollbar{
    display: none;
}
.dk234d{
    width: 250px;
    height: 150px;
    background-color: chocolate;
    margin: 5px;
}
/* End of main screen */

/* Footer scetion */
#mobile .footer{
    width: 415px;
    height: 60px;
    background-color: #000;
    position: fixed;
    bottom: 0;
    border-radius: 100px  100px  0 0;
    display: flex;
    justify-content: space-around;
}
#mobile .footer .home,
#mobile .footer .M_music,
#mobile .footer .M_profile{
    margin-top: 8px;
}
#mobile .footer .home i,
#mobile .footer .M_music i,
#mobile .footer .M_profile i{
    font-size: 35px;
}
#bih2,
#bip2,
#bim2{
    display: none;
}
/* #bih1,#bih2,#bip1,#bip2,#bim1,#bim2{
    animation: bih22 300ms linear;
} */
@keyframes bih22 {
    0%{
        font-size: 0;
    }
    50%{
        font-size: 18px;
    }
    100%{
        font-size: 35px;
    }
}